<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.university.bustracker">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Hardware Features -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusTracker"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY" />

        <!-- Role Selection Activity (Launcher) -->
        <activity
            android:name=".activities.RoleSelectActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BusTracker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Driver Login Activity -->
        <activity
            android:name=".activities.DriverLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BusTracker.NoActionBar"
            android:parentActivityName=".activities.RoleSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RoleSelectActivity" />
        </activity>

        <!-- Driver Map Activity -->
        <activity
            android:name=".activities.DriverMapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BusTracker.NoActionBar"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.DriverLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DriverLoginActivity" />
        </activity>

        <!-- Passenger Route Activity -->
        <activity
            android:name=".activities.PassengerRouteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BusTracker.NoActionBar"
            android:parentActivityName=".activities.RoleSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RoleSelectActivity" />
        </activity>

        <!-- Passenger Map Activity -->
        <activity
            android:name=".activities.PassengerMapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BusTracker.NoActionBar"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.PassengerRouteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PassengerRouteActivity" />
        </activity>

        <!-- Location Tracking Service (Optional - for background tracking) -->
        <service
            android:name=".services.LocationTrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>

</manifest>
